* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
}

main {
  padding-top: 5rem;
}

.header {
  background-color: #ff683a;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.header__title {
  margin: 0;
}

.nav-items {
  display: none;
  list-style: none;
  margin: 0;
}

.nav-item {
  border: 3px solid #973619;
  color: #973619;
  background-color: white;
  margin: 0.2rem;
  padding: 0.4rem;
  box-shadow: 3px 3px 0 #973619;
}

.menu-btn {
  width: 2rem;
}

.menu-btn__bar {
  background-color: white;
  margin: 0.3rem 0;
  height: 0.2rem;
}

#worklog-section {
  background-color: #eeeeee;
  padding: 0.2rem;
}

.worklog__card {
  border: 3px solid #259797;
  color: #259797;
  margin: 2rem 1rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 3px 3px 0 #259797;
  text-align: center;
}

.worklog__card--front {
  border: 3px solid #1f1fce;
  color: #1f1fce;
  box-shadow: 3px 3px 0 #1f1fce;
}

.card__detail {
  border-bottom: 2px solid #259797;
  padding-bottom: 0.6rem;
  margin-bottom: 0.6rem;
}

.card__detail--front {
  border-bottom: 2px solid #1f1fce;
}

.card__title {
  margin: 0;
}
.card__subtitle {
  margin: 0.2rem 0 1rem 0;
  font-size: 0.8rem;
}

.card__skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card__skill {
  background-color: #259797;
  color: white;
  padding: 0.4rem;
  margin: 0.2rem;
}

.card__skill--front {
  background-color: #1f1fce;
}

.section-title {
  text-align: center;
  color: #973619;
}

.tools-title {
  border-bottom: 1px solid #973619;
  font-size: 0.9rem;
  margin: 0 auto 0.5rem auto;
  color: #973619;
  font-weight: normal;
  width: fit-content;
}

.toolset-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto 3rem auto;
}

.toolset-item {
  margin: 0.8rem;
  text-align: center;
  color: #ff683a;
}

.skill-icon {
  font-size: 5rem;
}

.icon-name {
  margin: 0;
}

@media (min-width: 40rem) {
  .nav-items {
    display: flex;
  }

  .menu-btn {
    display: none;
  }
}
